:host {
    --dxp-c-link-text-color: var(--dxp-g-root-contrast);
    --dxp-c-link-text-color-hover: var(--dxp-g-root-contrast);
    --dxp-c-link-text-color-focus: var(--dxp-g-root-contrast);
    --dxp-s-link-text-decoration-hover: none;
    --dxp-s-link-text-decoration-focus: none;
}
.text-style{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.text-bold {
    font-weight: 900;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}
.link-container{
    column-gap: 1.5rem;
    justify-content: center;
}
.icon-container{
    column-gap: 0.5rem;
}
@media only screen and (min-width: 768px) {
.footer-container{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.link-container{
    justify-content: flex-start;
}
}