.escalate{
    background-color: #EE9834;
    color: black;
    
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    margin-top: 3px;
}

.cTable.slds-table_fixed-layout tbody {
    transform: none !important;
  }

.helptext{
    white-space: pre;
}

.combobox{
    z-index: (--slds-c-popover-position-zindex,6000);
    overflow: visible;
}

.refund-combobox {
    min-width: fit-content;
}

.refundLimitErrorMsg{
    color: red;
    text-align: center;
}

.refundPercentage .refund-combobox {
    --lwc-spacingXLarge: 1rem;
}